body {
    background-color: rgb(196, 141, 70);
    color: rgb(102, 16, 16);
    font-size: 30px;
}

h1 {
    color: black;
    text-align: center;
    font-family: arial;
    background-color: rgb(142, 94, 63);
    padding: 30px 30px;
    margin: 30px 30px;
    border-radius: 50%;
}

p {
    text-align: center;
}